/* FONTS */
@font-face {
  font-family: "Bebas";
  src: local("Bebas Neue Regular Regular"), local("BebasNeueRegular"),
    url("../fonts/BebasNeueRegular.woff2") format("woff2"),
    url("../fonts/BebasNeueRegular.woff") format("woff");
  font-display: swap;
}

/* GLOBAL */
* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  width: 1280px;
  margin: 0 auto;
}

/* HEADER */
.header {
  background-color: #635854;
  height: 60px;
  border-bottom: 4px solid #3596f5;
  display: flex;
  align-items: center;
}
.header-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
}

.header-logo {
  margin-top: 4px;
}

.header-nav {
  height: 100%;
}

.header__menu {
  display: flex;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.header-menu {
  list-style-type: none;
  height: 100%;
}

.header-link {
  text-decoration: none;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}

.header__item:not(:last-child) {
  margin-right: 60px;
}

.header-item {
  height: 100%;
  padding: 0 16px;
  display: flex;
  text-align: center;
  align-items: center;
  transition: background-color 0.4s;
  cursor: pointer;
}

.header-item:hover {
  background-color: #3596f5;
}

.header-contacts {
  text-align: right;
}

.header-text {
  display: block;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.header__text {
  margin-bottom: 4px;
}

.header-phone {
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  color: #ffffff;
  text-decoration: none;
}

/* MAIN */
.main {
  padding-top: 54px;
  display: flex;
}

.main__path {
  opacity: 0;
  cursor: pointer;
}

.main__path:hover {
  opacity: 1;
}

.main-info {
  flex-grow: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.main__counter-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__btn {
  background-color: white;
  border: none;
  cursor: pointer;
}

.main__title {
  margin: 0;
  margin-top: 75px;
  font-family: Bebas, "sans-serif";
  font-weight: normal;
  font-size: 37px;
  line-height: 44px;
  text-align: center;
  text-transform: uppercase;
  color: #635854;
}

.main__counter {
  margin-top: 10px;
  color: #635854;
  font-family: Bebas, "sans-serif";
  font-weight: normal;
  font-size: 124px;
}

.main__btn-primary {
  margin-bottom: 75px;
  background: #3596f5;
  font-size: 16px;
  line-height: 19px;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 16px 36px;
  cursor: pointer;
}
