/* FONTS */
@font-face {
  font-family: "Bebas";
  src: local("Bebas Neue Regular Regular"), local("BebasNeueRegular"),
    url("../fonts/BebasNeueRegular.woff2") format("woff2"),
    url("../fonts/BebasNeueRegular.woff") format("woff");
  font-display: swap;
}

/* GLOBAL */
* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  width: 1280px;
  margin: 0 auto;
}

/* HEADER */
.header {
  background-color: #635854;
  height: 60px;
  border-bottom: 4px solid #3596f5;
  display: flex;
  align-items: center;
}
.header-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
}

.header-logo {
  margin-top: 4px;
}

.header-nav {
  height: 100%;
}

.header__menu {
  display: flex;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.header-menu {
  list-style-type: none;
  height: 100%;
}

.header-link {
  text-decoration: none;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}

.header__item:not(:last-child) {
  margin-right: 60px;
}

.header-item {
  height: 100%;
  padding: 0 16px;
  display: flex;
  text-align: center;
  align-items: center;
  transition: background-color 0.4s;
  cursor: pointer;
}

.header-item:hover {
  background-color: #3596f5;
}

.header-contacts {
  text-align: right;
}

.header-text {
  display: block;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.header__text {
  margin-bottom: 4px;
}

.header-phone {
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  color: #ffffff;
  text-decoration: none;
}

/* MAIN */
.main {
  padding-top: 54px;
  display: flex;
}

.main__path {
  opacity: 0;
  cursor: pointer;
}

.main__path:hover {
  opacity: 1;
}

.main-info {
  flex-grow: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.main__counter-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__btn {
  background-color: white;
  border: none;
  cursor: pointer;
}

.main__title {
  margin: 0;
  margin-top: 75px;
  font-family: Bebas, "sans-serif";
  font-weight: normal;
  font-size: 37px;
  line-height: 44px;
  text-align: center;
  text-transform: uppercase;
  color: #635854;
}

.main__counter {
  margin-top: 10px;
  color: #635854;
  font-family: Bebas, "sans-serif";
  font-weight: normal;
  font-size: 124px;
}

.main__btn-primary {
  margin-bottom: 75px;
  background: #3596f5;
  font-size: 16px;
  line-height: 19px;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 16px 36px;
  cursor: pointer;
}

.main__path--current {
  opacity: 1;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.1s, opacity 0.1s, z-index 0.01s;
  opacity: 0;
  transform: scale(0);
  z-index: -1;
}

.modal--is-open {
  opacity: 1;
  transform: scale(1);
  z-index: 2;
}

.modal__dialog {
  position: relative;
  max-width: 1000px;
  min-height: 565px;
  background-color: #fff;
  flex-grow: 1;
  display: flex;
  transition: transform 0.35s;
  transform: translateY(-30px);
}

.modal__dialog--is-open {
  transform: translateY(0);
}

.modal__dialog-image {
  width: 60%;
  background-color: #ebebeb;
  text-align: center;
  padding: 50px;
}

.modal__dialog-title {
  font-family: Bebas;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  margin-top: 0;
  margin-bottom: 25px;
  color: #000000;
}

.modal__dialog-info {
  width: 40%;
  padding: 50px 46px;
}

.modal__flat-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 55px;
}

.modal__flat-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #635854;
  text-decoration: none;
}

.modal__flat-link--current {
  text-decoration: underline;
  color: #3596f5;
}

.modal__flat-item {
  margin-bottom: 10px;
}

.modal__flat-link:hover {
  text-decoration: underline;
  color: #3596f5;
}

.modal__alert {
  font-family: Roboto;
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #635854;
  margin-top: 56px;
}

.modal__close-button {
  position: absolute;
  top: 38px;
  right: 27px;
  border: none;
  background-color: #fff;
  cursor: pointer;
}

.modal__path {
  opacity: 0;
  cursor: pointer;
}

.modal__path:hover {
  opacity: 1;
}

.modal__path--current {
  opacity: 1;
}